

.stock-container{
    display: flex;
    justify-content: center;


  } 
  
  .stock-row{ 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #d7d7d7;
    width: 500px;
  
  }
  
  .stock-name{
    display: flex;
    align-items: center;
    padding-right: 24px;
  
    min-width: 50px;
  
  } 

  /* .stocks h1 {
    font-size: 16px;
    width: 100px;
  } */
  
  .stocks-data{
      display: flex;
      text-align: center;
      justify-content: space-between;
      width: 100%;
  }
  
  .stock-symbol{
    width: 100px;
  } 
  
  .stock-price{
    width: 155px;
  } 

 


 